<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>US Marriage Rates</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3Style.css')}}">
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>State Marriage Rates in the United States</h1>
            <p style = "font-size:20px">Use the interactive charts below to explore the dataset</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="well">
                <h5>Select State:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
        </div>
        <div class="col-md-12">
            <div id="line"></div>
        </div>
    </div>

    <div class="row">
            
            <div class="col-md-12">
                <div id="bar"></div>
            </div>
        
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="well">
                <h5>Select Year:</h5>
                <select id="selYear" onchange="yearChanged(this.value)"></select>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map-title"><h3>Marriage rates per 1000 of population</h3></div>
                <div id="map"></div>
            </div>

        </div>

        <!-- Marriage visualizations -->
    </div>

    <div class="row">
      <div class="col-xs-12  col-md-9">
        <button id="party">Party split</button>
        <button id="combine">Combine</button>
        <div id="bubble">
          <!-- We append our chart here. -->
        </div>
      </div>
    </div>

   
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.0.0/d3.min.js"></script>#}


<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{#<script src="{{ url_for('static', filename='js/bubble.js') }}"></script>#}

</body>

</html>
